body {
  font-family: rancho, serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  align-items: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
  display: block;
  text-align: center;
  wrap: wrap;
  margin: 2rem;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 800;
  color: #f3f2f2;
}
.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 100%;
  column-gap: .05rem;
  row-gap: .05rem;
  grid-template-areas: 
  "header"
  "mobile"
  "left"
  "main"
  "updatesection"
  "right"
  "footer"
}
header {
  background-color: #efd158;
  /*grid-area: header;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  grid-area: header;
  width: 100%;
}
.logo {
  display: block;
  border: 1px solid;
  padding: 1rem;
  margin: 1rem;
}
.title {
  padding: 1rem;
  margin: 1rem;
}
.hamburguer {
  margin: 2rem;
}
.desktop {
  display: none;
}

.main-photo-mobile {
  width: 100%;
  align-content: center;
}
.main-photo-desktop {
  display: none;
}

/* CAN I SHIFT THE PHOTOS IN JS? ?*/

.menu {
  list-style-type: none;
}
.mobile {
  border: 3px solid #f3f2f2;
  display: flex;
  justify-content: right;
  flex-direction: column;
  grid-area: mobile;
  background-color: pink;
  margin: none;
}
section {
  grid-area: updatesection;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.article1,.article2,.article3,.article4 {
  width: 35%;
  border: 1px solid;
  background-color: #efd158;
  padding: 1rem 1rem 1rem 1rem;
  margin: .5rem;
}

aside {      /* INSERT LINKS FOR PARTNERS WEBSITES OR SOCIAL MEDIA */
  background-color: #f3f2f2;
  text-align: center;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}

footer {
  background-color: #d48529;
  grid-area: footer;
  display: block;
}
.footer-social-media {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.footer-note {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.li-sm {
  padding: 1rem;
  width: 2rem;
  height: 2rem;
}
@media screen and (min-width: 769px) {
  h1 {
    font-size: 5rem;
    /* font-stretch: wider; how to make the font wider - this didnt work*/
  }
  h2 {
    font-size: 3rem;
    display: block;
    align-items: center;
  }
  .container {
    height: 100vh;
    grid-template-rows: auto auto auto .2fr;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: .05rem;
    row-gap: .05rem;
    grid-template-areas: 
    "header header header"
    "desktop desktop desktop"
    "left main right"
    "left updatesection right"
    "footer footer footer"
}
  header {
    align-items: center;
    justify-content: center;
    grid-area: header;
    padding: 0;
}
  .title,.logo{
    margin: 2.3rem;
}
  .logo {
    font-size: 2rem;
    padding: 2rem;
}
  .hamburguer {
    display: none;
}
.desktop {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
    grid-area: desktop;
    background-color:#d48529;
    align-items: center;
    padding: 1rem;
    margin: 0px;
}
.menu {
    font-size: 2rem;
    list-style-type: none;
}

.left {
    grid-area: left;
}
.right {
    grid-area: right;
}
.main-photo-mobile {
    display: none;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: row;
}

.main-photo-desktop {
  width: 10px;
}

section {
    grid-area: updatesection;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }
.article1,.article2,.article3,.article4 {
    align-items: center;
    justify-content: center;
   }
footer {
    font-size-adjust: 2rem;
    grid-area: footer;
    text-align: center;
  }
}


/*  COLORS
#917f9e purple
#f3f2f2 white
#a3a478 green *closed
#efd158 yellow
#d48529 orange
*/

